:root {
  --primary-color: #5c5bc0;
  --primary-dark-color: #4a49a6;
  --primary-lightest-color: #ebebff;
  --secondary-color: #2c3e50;
  --accent-color: #ff6b6b;
  --primary-dark: #252525;
  --primary-color-rgb: 92, 91, 192;
  --footer-bg: #2a2a4a;
}
