/* Left side image */
.auth-left {
  flex: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;

  .pic-content {
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 50px;
    color: white;
    padding: 20px;

    h2 {
      font-size: 35px;
      font-weight: bold;
    }
    p {
      font-size: 16px;
      font-weight: 200;
    }
  }
}
.auth-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  overflow: auto;
}

.signIn-img {
  background-image: linear-gradient(
      rgba(var(--primary-color-rgb), 0.2),
      rgba(var(--primary-color-rgb), 0.5)
    ),
    url("../assets/auth_assets/signIn-img.svg");
}

.createAcc-img {
  background-image: linear-gradient(
      rgba(var(--primary-color-rgb), 0.2),
      rgba(var(--primary-color-rgb), 0.5)
    ),
    url("../assets/auth_assets/createAcc-img.svg");
}

.reset-img {
  background-image: linear-gradient(
      rgba(var(--primary-color-rgb), 0.2),
      rgba(var(--primary-color-rgb), 0.5)
    ),
    url("../assets/auth_assets/reset-img.svg");
}
.confirmation-img {
  background-image: linear-gradient(
      rgba(var(--primary-color-rgb), 0.2),
      rgba(var(--primary-color-rgb), 0.5)
    ),
    url("../assets/auth_assets/confirmation-img.svg");
}
.newPwd-img {
  background-image: linear-gradient(
      rgba(var(--primary-color-rgb), 0.2),
      rgba(var(--primary-color-rgb), 0.5)
    ),
    url("../assets/auth_assets/newPwd-img.svg");
}
